body{
    overflow-x: hidden;
}
.container-fluid h1{
    font-family: 'Audiowide', sans-serif;
    color: white;
    font-size: 80px;
}

.caption{
    color:azure;
    margin-top: 200px;
}

img.heroimg {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 100%;
    padding-top:70px;
}
img.heroimg {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 100%;
    padding-top:70px;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

h2{
    color: azure;
    text-align: center;
}

.cover{
    background-size: cover;
    position: absolute;
    width: 100%;
}

.gradient {
    background-size: cover;
    background-image: linear-gradient(to bottom right, #0070df, #18dfc7, #c7ff94);
}

.navbar{
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    background: transparent;
}
/* #main-title{
    position: absolute;
    top: 10%;
    left: 10%;
} */

.center{
    margin-right: auto;
    margin-left: auto;
}
.mr-auto{
    margin-left: 7%;
}

.nav-link{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link:hover {
    color: #dedede;
    transition-duration: 0.3s;
}
.features .card{
    /* outline: none; */
    border: none;
}

.features .card-title{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* .features .card-img-top{
    width: 70%;
} */
.features .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.5s;
    
}

@media (max-width: 767.98px) {
    .cover{
        display: none;
    }

    .container-fluid h1{
        font-size: 70px;
    }
    
    /* .maintext{
        top:20%;
    } */

    /* img.heroimg{
        padding-top:70px;
    } */
    .caption{
        margin: 0;
    }
}

@media (max-width: 991.98px) {
    .cover{
        display: none;
    }
    /* .caption{
        margin-top: 40px;
    } */
 }

 @media (max-width: 1199.98px) { 
    .caption{
        margin-top: 120px;
    }
     
    img.heroimg{
        padding-top: 50px
    }
  }
